*{
    margin: auto;
}
body{
    background: linear-gradient(160deg, #8d3e3e, #ae8b00);
    min-height: 100vh;
    background: cover;
    font-family: Arial, Helvetica, sans-serif
}
.up{
    padding-left:550px ;
    color: gold;
    padding-top: 25px;
}
.upp{
    position: absolute;
    background-color: #580e6f;
    width: 100%;
    height: 100px;
}
.silver{
    vertical-align: top;
    width: 300px;
    background:linear-gradient(45deg, #580e6f, #9f8006);
    height: 400px;
    padding: 0;
    display: inline-block;
    box-shadow: 0px 2px 15px;
    margin-top: 200px;
    margin-left: 150px;
    border-radius: 9px;
}
.silver h3{
    font-size: 39px;
    color: whitesmoke;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 40px;
}
.silver p{
    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.silver button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color:gold;
    margin-left: 45px;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    margin-top:45px;
    border: none;
    transition: all 0.3s ease;
}
.silver .ninteen{
    color: silver;
    font-size: 30px;
    margin-top: 30px;
}
.silver button:hover{
    background-color: black;
    color: rgb(173, 149, 10);
    box-shadow: 0 0 15px gold;
    transform: scale(1.05);
}
.silver {
  transition: transform 0.3s, box-shadow 0.3s;
}
.silver:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.month{
    /* vertical-align: top; */
    width: 300px;
    background:linear-gradient(45deg, #580e6f, #9f8006);
    height: 400px;
    padding: 0;
    display: inline-block;
    box-shadow: 0px 2px 15px;
    margin-top: 200px;
    margin-left: 150px;
    border-radius: 9px;
}
.month h3{
    font-size: 39px;
    color: whitesmoke;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 40px;
}
.month p{
    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.month button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color:gold;
    margin-left: 45px;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    margin-top:45px;
    border: none;
    transition: all 0.3s ease;
}
.month .gold{
    color: rgb(255, 200, 0);
    font-size: 30px;
    margin-top: 30px;
}
.month button:hover{
    background-color: black;
    color: gold;
    box-shadow: 0 0 15px gold;
    transform: scale(1.05);
}
.month{
  transition: transform 0.3s, box-shadow 0.3s;
}
.month:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.royal{
    vertical-align: top;
    width: 300px;
    background:linear-gradient(45deg, #580e6f, #9f8006);
    height: 400px;
    padding: 0;
    display: inline-block;
    box-shadow: 0px 2px 15px;
    margin-top: 200px;
    margin-left: 150px;
    border-radius: 9px;
}
.royal h3{
    font-size: 39px;
    color: whitesmoke;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 40px;
}
.royal p{
    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.royal button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color:gold;
    margin-left: 45px;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    margin-top:30px;
    border: none;
    transition: all 0.3s ease;
}
.royal .ban{
    color: rgb(1, 39, 152);
    font-size: 30px;
    margin-top: 30px;
}
.royal button:hover{
    background-color: black;
    color: rgb(173, 149, 10);
    box-shadow: 0 0 15px gold;
    transform: scale(1.05);
}
.royal {
  transition: transform 0.3s, box-shadow 0.3s;
}
.royal:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.qa{
    background:linear-gradient(45deg, #580e6f, #9f8006);
    color: gold;
    width: 900px;
    border-radius: 20px;
    height: 620px;
    padding-left: 30px;
    padding-top: 50px;
    margin-bottom: 100px;
    margin-top: 150px;
    margin-left: 150px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
}
.qa p{
    color: white;
}
h1{
    padding-bottom: 20px;
}
.ans1{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 20px;
}
.q2{
    padding-top: 30px;
}
.ans2{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 20px;
}
.q3{
    padding-top: 30px;
}
.ans3{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 20px;
}
.q4{
    padding-top: 30px;
}
.ans4{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 20px;
}
.q5{
    padding-top: 30px;
}
.ans5{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 20px;
}

.qa {
  transition: transform 0.3s, box-shadow 0.3s;
}
.qa:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

